/* Header */

.header-bg {
  background-color: var(--tint-90);
}

.header {
  justify-content: space-between;
  padding: 0 4.8rem;
  position: relative;
  font-size: 3rem;
  font-weight: 500;
  max-width: 192rem !important;
}

.header-background {
  width: 100vw;
  z-index: -1;
  position: absolute;
  left: 0;
}

.header-nav,
.header-contact-container {
  height: inherit;
  padding: 1rem;
}

.header-contact {
  padding-right: 4rem;
}

.header-logo-img,
.footer-logo-img {
  height: 12rem;
}

.header-nav {
  gap: 1.4rem;
}

.btn-mobile-nav {
  position: fixed;
  top: 10px;
  right: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* language select dropdown */

.lang-select-dropdown-btn,
.lang-select-dropdown-content {
  font-family: inherit;
}

.lang-select-dropdown-btn {
  background-color: var(--tint-90);
  color: #363535;
  padding: 1.6rem;
  font-size: 2.8rem;
  border: none;
  gap: 0.3rem;
}

.lang-select-dropdown {
  position: relative;
}

.lang-select-dropdown-content {
  position: absolute;
  background-color: var(--tint-90);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.lang-select-dropdown-content a {
  text-align: left;
  color: #111;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  font-size: inherit;
}

.lang-select-dropdown-content a:hover {
  background-color: var(--tint-70);
}

.lang-select-dropdown:hover .lang-select-dropdown-content {
  display: block;
}

.lang-select-dropdown:hover .lang-select-dropdown-btn {
  background-color: var(--tint-60);
}

/* header lang select button text*/
.lang-select-dropdown-btn .language--ru {
  font-size: 2.6rem;
}

.main-nav {
  display: flex;
  z-index: 9999;
}

.lang-select {
  gap: 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}

.lang-select a,
.lang-select p {
  display: inline;
}

.flag-img {
  height: 2.4rem;
  margin-right: 0.5rem;
}

/* Header Links */

.header-link--home {
  margin-right: 5rem;
}

.header-address {
  row-gap: 0rem !important;
  font-size: 2rem;
}

.header-address-box {
  gap: 0.5rem;
  margin-left: auto;
}

.header-address-text {
  text-align: right;
  min-width: 16rem;
  max-width: 26rem;
}

.header-icon {
  display: inline-block;
  color: var(--shade-10);
  font-size: 3rem;
}

.mobile-nav {
  display: none;
}

@media (max-width: 94em) {
  .main-nav {
    font-size: 2.4rem;
    gap: 0.6rem;
  }

  .main-nav p.language--arm {
    font-size: 2rem;
  }

  .header-address-text {
    font-size: 1.8rem;
  }

  .lang-select-dropdown-btn {
    font-size: 2.4rem;
  }

  .header-contact {
    padding-right: 0;
  }

  .header-address-text .language--arm {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 84em) {
  .header {
    font-size: 2.4rem;
    padding: 1rem;
  }

  .header-nav {
    gap: 0.5rem;
  }

  .header-link--home {
    margin-right: 1rem;
  }

  .header p.language--ru {
    font-size: 1.8rem !important;
  }

  .header-address-text {
    font-size: 1.6rem;
    max-width: 27rem;
  }
}

@media (max-width: 78em) {
  .main-nav {
    font-size: 2.2rem;
    gap: 0.2rem;
  }

  .header-address-text {
    font-size: 1.6rem;
  }

  .header p.language--ru {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 64em) {
  .main-nav {
    font-size: 2.2rem;
    gap: 0.1rem;
  }

  .header-nav {
    font-size: 2rem;
    gap: 0.2rem;
  }

  .lang-select-dropdown-btn {
    font-size: 2rem;
  }

  .header-address-text {
    font-size: 1.4rem;
  }
}

/* Below 976px (Tablets) */
@media (max-width: 61em) {
  .main-nav--open {
    overflow: hidden;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    visibility: visible !important;
    z-index: 9998 !important;
    display: flex !important;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in;
    font-size: 4rem;
    font-weight: 700;
  }

  .main-nav--open p.language--arm {
    font-size: 3.4rem;
  }

  .main-nav--open p.language--ru {
    font-size: 3.6rem !important;
  }

  .btn-mobile-nav {
    display: block !important;
  }
}

@media (max-width: 43em) {
  .header-contact-container {
    margin-top: 25px;
  }
}

@media (max-width: 36em) {
  .header {
    flex-direction: column;
  }

  .header-nav,
  .header-lang-select,
  .header-contact-container {
    padding: 0.5rem;
  }

  .header-contact-container {
    margin-top: 0;
  }

  .lang-select-dropdown {
    margin-bottom: 0;
  }

  .lang-select-dropdown {
    align-self: center;
  }

  .header-nav {
    flex-direction: column;
  }

  .header-link--home {
    margin-right: 0;
  }
}

@media (max-width: 32em) {
  .header-icon {
    font-size: 2.2rem;
  }
}

@media (max-width: 23em) {
  .header-address-text .language--arm {
    font-size: 1.7rem !important;
  }
}
