.footer {
  padding: 10rem 0 12rem 0;
  background-color: var(--tint-90);
}

.footer-content {
  max-width: 150rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.footer-logo-and-copyright {
  gap: 3rem;
}

.footer-logo-box {
  margin: auto auto;
  height: 13rem;
}

.footer-link--home {
  height: inherit;
  padding: 1rem;
}

.footer-copyright-box {
  text-align: center;
}

.copyright {
  font-size: 1.4rem;
}

.footer-contact {
  gap: 1.5rem;
  font-size: 1.8rem;
  color: #555;
}

.footer-headline {
  margin: 2rem 0;
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
}

.social-media-link {
  font-size: 7rem;
}

.social-media-link:link,
.social-media-link:visited {
  color: var(--secondary-shade-20);
}

.social-media-link:hover,
.social-media-link:active {
  color: var(--secondary-shade-30);
}

@media (max-width: 75em) {
  .footer--lang-select--armenian {
    font-size: 2.2rem !important;
  }
}

@media (max-width: 61em) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .footer-item:nth-child(3n + 1) {
    grid-row: 1;
  }

  .footer-contact {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .footer-lang-select,
  .footer-contact {
    margin: 0 auto;
  }
}

@media (max-width: 43em) {
  .footer-logo-img {
    height: 10rem;
  }

  .footer-contact p {
    font-size: 1.6rem;
  }
}

@media (max-width: 32em) {
  .footer-contact {
    max-width: 80vw;
  }

  .social-media-box p.language--ru {
    font-size: 1.8rem;
  }

  .footer-logo-img {
    height: 8rem;
  }

  .footer-contact {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .footer-logo-img {
    height: 10rem;
  }

  .footer-contact p {
    font-size: 1.8rem;
  }

  .footer-logo-and-copyright {
    grid-row: 3;
    grid-column: 1 / span 2;
    margin: 2rem auto;
  }

  .footer--lang-select-dropdown-content {
    transform: translate(-20%);
  }
}
